.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: calc(var(--nav-width) + var(--gap) * 2);
    margin-inline-start: auto;
    margin-inline-end: auto;
    line-height: var(--header-height);
}

.nav a {
    display: block;
}

.logo,
#menu {
    display: flex;
    margin: auto var(--gap);
}

.logo {
    flex-wrap: inherit;
}

.logo a {
    font-size: 24px;
    font-weight: 700;
}

.logo a img {
    display: inline;
    vertical-align: middle;
    pointer-events: none;
    transform: translate(0, -10%);
    border-radius: 6px;
    margin-inline-end: 8px;
}

#theme-toggle svg {
    height: 18px;
    
}

button#theme-toggle {
    font-size: 26px;
    margin: auto 4px;
    
}

body.dark #moon {
    vertical-align: middle;
    display: none;
}

body:not(.dark) #sun {
    display: none;
}

#menu {
    list-style: none;
    word-break: keep-all;
    overflow-x: auto;
    white-space: nowrap;
}

#menu li + li {
    margin-inline-start: var(--gap);
}

#menu a {
    font-size: 16px;
}

#menu .active {
    font-weight: 500;
    border-bottom: 2px solid currentColor;
}

.lang-switch li,
.lang-switch ul,
.logo-switches {
    display: inline-flex;
    margin: auto 4px;
}

.lang-switch {
    display: flex;
    flex-wrap: inherit;
}

.lang-switch a {
    margin: auto 3px;
    font-size: 16px;
    font-weight: 500;
}

.logo-switches {
    flex-wrap: inherit;
}

/* START hamburger menu */

#menu-trigger {
    display: none;
}

.menu {
    display: flex;
    margin: auto var(--gap);
    list-style: none;
    word-break: keep-all;
    overflow-x: auto;
    white-space: nowrap;
}

.menu li+li {
    margin-inline-start: var(--gap);
}

.menu a {
    font-size: 16px;
}

.menu .active {
    font-weight: 500;
    border-bottom: 2px solid currentColor;
}

@media screen and (max-width: 768px) {
    .menu {
        list-style: none;
        position: absolute;
        right: 0;
        z-index: 5;
        margin-bottom: var(--gap);
        padding: var(--gap);
        background: var(--code-bg);
        border-radius: var(--radius);
        border: 2px solid var(--tertiary);
        line-height: 2.5;
        margin: calc(var(--header-height) - var(--gap)) var(--gap);
        display: block;
    }

    .list .menu {
        background: var(--entry);
    }

    .menu li+li {
        margin-inline-start: 0;
    }

    #menu-trigger {
        font-size: 30px;
        position: relative;
        display: block;
        float: right;
        margin: auto var(--gap);
    }

    .menu.hidden {
        display: none;
    }
}

/* END hamburger menu */

