<style>
  .callout {
    position: relative;
    margin: 1rem 0;
    display: flex;
    border-radius: 0.375rem;
    border: 1px solid #C05621; /* border-orange-800 */
    background-color: #FFFAF0; /* bg-orange-100 */
    padding: 0.75rem;
    color: #7B341E; /* text-orange-950 */
  }
  .dark .callout {
    border-color: rgba(255, 152, 96, 0.2); /* dark:border-orange-200/20 */
    background-color: rgba(255, 152, 96, 0.2); /* dark:bg-orange-950/20 */
    color: rgba(255, 152, 96, 1); /* dark:text-orange-200 */
  }
  .emoji {
    padding-right: 0.75rem;
    font-size: 1.25rem;
  }
  .callout-info {
    border-color: #2C5282; /* border-blue-800 */
    background-color: #EBF8FF; /* bg-blue-100 */
    color: #2A4365; /* text-blue-950 */
  }
  .dark .callout-info {
    border-color: rgba(66, 153, 225, 0.2); /* dark:border-blue-200/20 */
    background-color: rgba(66, 153, 225, 0.2); /* dark:bg-blue-950/20 */
    color: rgba(66, 153, 225, 1); /* dark:text-blue-200 */
  }
  .callout-warning {
    border-color: #B7791F; /* border-yellow-800 */
    background-color: #FEFCBF; /* bg-yellow-100 */
    color: #975A16; /* text-yellow-950 */
  }
  .dark .callout-warning {
    border-color: rgba(236, 201, 75, 0.2); /* dark:border-yellow-200/20 */
    background-color: rgba(236, 201, 75, 0.2); /* dark:bg-yellow-950/20 */
    color: rgba(236, 201, 75, 1); /* dark:text-yellow-200 */
  }
  .callout-error {
    border-color: #C53030; /* border-red-800 */
    background-color: #FFF5F5; /* bg-red-100 */
    color: #742A2A; /* text-red-950 */
  }
  .dark .callout-error {
    border-color: rgba(245, 101, 101, 0.2); /* dark:border-red-200/20 */
    background-color: rgba(245, 101, 101, 0.2); /* dark:bg-red-950/20 */
    color: rgba(245, 101, 101, 1); /* dark:text-red-200 */
  }
  </style>
  
  <div class="not-prose callout" data-type="{{ .Get "type" | default "default" }}">
    <span class="emoji pointer-events-none select-none">💡</span>
    {{ .Inner }}
</div>

<script>
document.addEventListener("DOMContentLoaded", function() {
  const callouts = document.querySelectorAll('.callout');

  callouts.forEach(function(callout) {
    const emoji = callout.querySelector('.emoji');
    const type = callout.getAttribute('data-type');

    switch(type) {
      case "info":
        callout.classList.remove('callout-default', 'callout-warning', 'callout-error');
        callout.classList.add('callout-info');
        emoji.textContent = "ℹ️";
        break;
      case "warning":
        callout.classList.remove('callout-default', 'callout-info', 'callout-error');
        callout.classList.add('callout-warning');
        emoji.textContent = "⚠️";
        break;
      case "error":
        callout.classList.remove('callout-default', 'callout-info', 'callout-warning');
        callout.classList.add('callout-error');
        emoji.textContent = "🚨";
        break;
      default:
        callout.classList.add('callout-default');
        emoji.textContent = "💡";
        break;
    }
  });
});
</script>
